.trending-books {
    width: 100%;
    height: auto;

    overflow: hidden;

    cursor: default;
}

.trending-books > h2 {
    font-size: clamp(2.5em, 5.5vw ,5em);
    margin-left: 25px;
}

.books {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 25px;

    overflow-x: scroll;
    cursor: grab;

    margin: 25px 0;
    padding-bottom: 10px;

    width: 100%;
    height: auto;
}

.books::-webkit-scrollbar {
    display: none;
}

.books:active {
    cursor: grabbing;
}

.books-items {
    border-radius: 8px;

    flex-shrink: 0;
    
    min-width: 200px;
    width: 450px;
    min-height: 10px;
    height: 650px;
}

.books-items:first-child {
    margin-left: 25px;
}

.books-items:last-child {
    margin-right: 25px;
}

.book1 {
    background-image: url("../src/img/trending-books/book1.webp");
    border-radius: 8px;
}

.book2 {
    background-image: url("../src/img/trending-books/book2.webp");
}

.book3 {
    background-image: url("../src/img/trending-books/book3.webp");
    border-radius: 8px;
}

.book4 {
    background-image: url("../src/img/trending-books/book4.webp");
    border-radius: 8px;
}

.book5 {
    background-image: url("../src/img/trending-books/book5.webp");
}

.books-intro {
    animation: booksIntro 1s 1;
}