@media (min-width: 2000px) {
    .add-cart {
        width: 2vw;
        height: 2vw;
    }

    .book-more > p {
        font-size: 1.25vw;
    }
}

@media (min-width: 1800px) {
    .categories-content {
        grid-gap: 15px;
    }

    .tag > p {
        font-size: 1.5vw;
    }

    .book-box {
        width: 18vw;
    }

    .book {
        height: 26vw;
    }
}

@media (max-width: 1170px) {
    .trending-books > h2 {
        font-size: 50px;
    }

    .book-price > p:first-child {
        font-size: 25px;
    }

    .book-sells > p {
        font-size: 17px;
    }

    .add-cart {
        width: 30px;
        height: 30px;
    }

    .book-more > p {
        font-size: 17px;
    }
}

@media (max-width: 1000px) {
    .logo {
        width: 5.5vw;
        height: 5.5vw;
    }

    .logotipo > h1 {
        font-size: 3.5vw;
    }

    .search > input {
        font-size: 1.7vw;
    }

    .search-container {
        width: 2.7vw;
        height: 2.7vw;
    }

    .cart {
        width: 5.5vw;
        height: 5.5vw;
    }

    .cart-popup > p {
        font-size: 1.6vw;
    }

    .cart-container {
        width: 5.5vw;
        height: 5.5vw;
    }

    .profile {
        width: 5.5vw;
        height: 5.5vw;
    }

    .signin > p {
        font-size: 2.2vw;
    }
}

@media (max-width: 900px) {
    .trending-books > h2 {
        font-size: 65px;
        text-align: center;
    }

    .books-list {
        justify-content: space-evenly;
    }
}

@media (max-width: 725px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .logotipo > h1 {
        display: none;
    }

    .search {
        width: 50%;
    }

    .search > input {
        font-size: 18px;
    }

    .search-container {
        width: 30px;
        height: 30px;
    }

    .cart {
        width: 50px;
        height: 50px;
    }

    .cart-popup > p {
        font-size: 15px;
    }

    .cart-container {
        width: 50px;
        height: 50px;
    }

    .profile {
        width: 50px;
        height: 50px;
    }

    .signin > p {
        font-size: 20px;
    }
}

@media (max-width: 612px) {
    .trending-books > h2 {
        font-size: 50px;
        text-align: start;
    }

    .books-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 570px) {
    .search {
        display: none;
    }

    .profile {
        display: none;
    }

    .signin {
        display: none;
    }

    .menu {
        display: unset;
    }
}

@media (max-width: 450px) {
    .trending-books > h2 {
        font-size: 43px;
    }
}